<div class="content">
    <form ng-submit="">
        <table>
            <tr style="display: block; float: left;" ng-repeat="category in partNumber.categories">
                <th style="display: block;">
                    <label class="badge">
                        {{category.description}}
                    </label>
                </th>
                <td class="radio" style="display: block;" ng-repeat="part in category.parts">
                    <label>
                        <input type="radio" name="test" ng-model="test">
                        {{part.value}}
                    </label>
                    </button>
                </td>
                <td>{{test}}</td>
            </tr>
        </table>
    </form>
    <label>
    </label>
</div>