<div class="content container">
    <form ng-submit="">

        <div class="jumbotron copper shadow">
            <div class="row row-eq-height section">

                <div class="col-xs-1">
                    <div class="section-header-container copper-background">
                        <label class="section-header sideway">
                            COPPER PRODUCTS
                        </label>
                    </div>
                </div>

                <div class="col-xs-11">           
                    <div class="vertical-align-table">
                        <div class="row vertical-align-cell">

                            <!-- SECTION 1 -->
                            <div class="col-md-4 col-sm-6 col-xs-12 section-menu-container">
                                <div class="section-menu-img-container">
                                    <a href="#"><img class="img-rounded" src="img/sections/1.png"></a>
                                </div>
                                <label class="section-menu-label-container">
                                    <a href="#">Bulk Copper Cables</a>
                                </label>
                            </div>

                            <!-- SECTION 2 -->
                            <div class="col-md-4 col-sm-6 col-xs-12 section-menu-container">
                                <div class="section-menu-img-container">
                                    <a href="#"><img class="img-rounded" src="img/sections/1.png"></a>
                                </div>
                                <label class="section-menu-label-container">
                                    <a href="#">Keywerks Modules</a>
                                </label>
                            </div>

                            <!-- SECTION 3 -->
                            <div class="col-md-4 col-sm-6 col-xs-12 section-menu-container">
                                <div class="section-menu-img-container">
                                    <a href="#"><img class="img-rounded" src="img/sections/1.png"></a>
                                </div>
                                <label class="section-menu-label-container">
                                    <a href="#">Copper Patch Cords and Pigtails</a>
                                </label>
                            </div>

                            <!-- SECTION 4 -->
                            <div class="col-md-4 col-sm-6 col-xs-12 section-menu-container">
                                <div class="section-menu-img-container">
                                    <a href="#"><img class="img-rounded" src="img/sections/1.png"></a>
                                </div>
                                <label class="section-menu-label-container">
                                    <a href="#">Copper Patch Panels</a>
                                </label>
                            </div>

                            <!-- SECTION 5 -->
                            <div class="col-md-4 col-sm-6 col-xs-12 section-menu-container">
                                <div class="section-menu-img-container">
                                    <a href="#"><img class="img-rounded" src="img/sections/1.png"></a>
                                </div>
                                <label class="section-menu-label-container">
                                    <a href="#">Outlets</a>
                                </label>
                            </div>

                            <!-- SECTION 6 -->
                            <div class="col-md-4 col-sm-6 col-xs-12 section-menu-container">
                                <div class="section-menu-img-container">
                                    <a href="#"><img class="img-rounded" src="img/sections/1.png"></a>
                                </div>
                                <label class="section-menu-label-container">
                                    <a href="#">Multimedia</a>
                                </label>
                            </div>

                            <!-- SECTION 7 -->
                            <div class="col-md-4 col-sm-6 col-xs-12 section-menu-container">
                                <div class="section-menu-img-container">
                                    <a href="#"><img class="img-rounded" src="img/sections/1.png"></a>
                                </div>
                                <label class="section-menu-label-container">
                                    <a href="#">Copper Tools</a>
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
          
            <!-- FIBER SECTION -->
            <div class="row row-eq-height section">

                <div class="col-xs-1">
                    <div class="section-header-container fiber-background">
                        <label class="section-header sideway">
                            FIBER PRODUCTS
                        </label>
                    </div>
                </div>

                <div class="col-xs-11">
                    <div class="vertical-align-table">
                        <div class="row vertical-align-cell">

                            <!-- SECTION 8 -->
                            <div class="col-md-4 col-sm-6 col-xs-12 section-menu-container">
                                <div class="section-menu-img-container">
                                    <a href="#"><img class="img-rounded" src="img/sections/8.png"></a>
                                </div>
                                <label class="section-menu-label-container">
                                    <a href="#">Fiber Cable Assemblies</a>
                                </label>
                            </div>

                            <!-- SECTION 9 -->
                            <div class="col-md-4 col-sm-6 col-xs-12 section-menu-container">
                                <div class="section-menu-img-container">
                                    <a href="#"><img class="img-rounded" src="img/sections/8.png"></a>
                                </div>
                                <label class="section-menu-label-container">
                                    <a href="#">Adapters and Attenuators</a>
                                </label>
                            </div>

                            <!-- SECTION 10 -->
                            <div class="col-md-4 col-sm-6 col-xs-12 section-menu-container">
                                <div class="section-menu-img-container">
                                    <a href="#"><img class="img-rounded" src="img/sections/8.png"></a>
                                </div>
                                <label class="section-menu-label-container">
                                    <a href="#">Field Terminable Connectors</a>
                                </label>
                            </div>

                            <!-- SECTION 11 -->
                            <div class="col-md-4 col-sm-6 col-xs-12 section-menu-container">
                                <div class="section-menu-img-container">
                                    <a href="#"><img class="img-rounded" src="img/sections/8.png"></a>
                                </div>
                                <label class="section-menu-label-container">
                                    <a href="#">Fiber Patch Cords and Pigtails</a>
                                </label>
                            </div>

                            <!-- SECTION 12 -->
                            <div class="col-md-4 col-sm-6 col-xs-12 section-menu-container">
                                <div class="section-menu-img-container">
                                    <a href="#"><img class="img-rounded" src="img/sections/8.png"></a>
                                </div>
                                <label class="section-menu-label-container">
                                    <a href="#">Fiber Splitters</a>
                                </label>
                            </div>

                            <!-- SECTION 13 -->
                            <div class="col-md-4 col-sm-6 col-xs-12 section-menu-container">
                                <div class="section-menu-img-container">
                                    <a href="#"><img class="img-rounded" src="img/sections/8.png"></a>
                                </div>
                                <label class="section-menu-label-container">
                                    <a href="#">Wavelength Multiplexers</a>
                                </label>
                            </div>

                            <!-- SECTION 14 -->
                            <div class="col-md-4 col-sm-6 col-xs-12 section-menu-container">
                                <div class="section-menu-img-container">
                                    <a href="#"><img class="img-rounded" src="img/sections/8.png"></a>
                                </div>
                                <label class="section-menu-label-container">
                                    <a href="#">Fiber Patch Panels</a>
                                </label>
                            </div>

                            <!-- SECTION 15 -->
                            <div class="col-md-4 col-sm-6 col-xs-12 section-menu-container">
                                <div class="section-menu-img-container">
                                    <a href="#"><img class="img-rounded" src="img/sections/8.png"></a>
                                </div>
                                <label class="section-menu-label-container">
                                    <a href="#">Fusion and Splicing</a>
                                </label>
                            </div>

                            <!-- SECTION 16 -->
                            <div class="col-md-4 col-sm-6 col-xs-12 section-menu-container">
                                <div class="section-menu-img-container">
                                    <a href="#"><img class="img-rounded" src="img/sections/8.png"></a>
                                </div>
                                <label class="section-menu-label-container">
                                    <a href="#">Fiber Tools</a>
                                </label>
                            </div>

                            <!-- SECTION 17 -->
                            <div class="col-md-4 col-sm-6 col-xs-12 section-menu-container">
                                <div class="section-menu-img-container">
                                    <a href="#"><img class="img-rounded" src="img/sections/8.png"></a>
                                </div>
                                <label class="section-menu-label-container">
                                    <a href="#">Copper Tools</a>
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

    </form>
</div>
